.container{
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
}

.infected{
    border-bottom: 10px solid rgba(0, 183, 255, 0.795);
}

.recovered{
    border-bottom: 10px solid rgba(0, 255, 149, 0.795);
}

.deaths{
    border-bottom: 10px solid rgba(255, 38, 0, 0.795);
}

@media (max-width: 770px) {
    .card{
        margin: 2% 0 !important;
    }
}
